[Unit]
Description=GIF Player on ILI9341
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/luka/gif_player.py
Restart=always
User=luka
WorkingDirectory=/home/luka/

[Install]
WantedBy=multi-user.target
